@{
    ViewData["Title"] = "MostrarPreguntas";
}

<h2>Preguntas Generadas</h2>

@if (Model != null && Model.Length > 0)
{
    <form method="post" action="/Ia/CorregirRespuestas">
        <ul>
            @for (var i = 0; i < Model.Length; i++)
            {
                <li>
                    @Model[i]
                    <br />
                    <input type="hidden" name="preguntas[@i]" value="@Model[i]" />
                    <input type="text" name="respuestas[@i]" />
                </li>
            }
        </ul>
        <button type="submit">Corregir respuestas</button>
    </form>
}
else
{
    <p>No se pudieron generar preguntas.</p>
}

@if (ViewBag.Error != null)
{
    <h3>Error:</h3>
    <p style="color:red">@ViewBag.Error</p>
}
