<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instace"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="c:/Temp/NLogSample/NLogSample.txt">
	
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<!-- the targets to write to-->
	<targets>
		<target xsi:type="File" name="all_logs" filename="c:/Temp/NLogSample/all.log"/>
		<target xsi:type="File" name="relevant_logs" filename="c:/Temp/NLogSample/relevant.log"/>
		<target xsi:type="ColoredConsole" name="logconsole">
			<highligth-row condition="level == LogLevel.Degub" foregroundColor="DarkGrey" />
			<highligth-row condition="level == LogLevel.Info" foregroundColor="DarkYellow" />
			<highligth-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highligth-row condition="level == LogLevel.Error" foregroundColor="DarkRed" />
			<highligth-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
	</targets>

	<!-- Rules for Log-->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="all_logs" />
		<logger name="*" minlevel="Warn" writeTo="relevant_logs" />
	</rules>
	
</nlog>